<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Deployed by</span>
    <a
      b-slate-link
      href="mailto:dean.xi@tkelevator.com" target="_blank"
    >
      Dean Xi
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://img.chatjoy.top/9d9a95a1e8423d5677d16f7513a16c4.png" target="_blank"
    >
      Sponsor Us
    </a>
  </p>
</footer>
