<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Deployed by</span>
    <a
      b-slate-link
      href="mailto:dean.xi@tkelevator.com" target="_blank"
    >
      Dean Xi
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="blob:https://dash.cloudflare.com/3b5b115b-f3da-4dee-8856-7eb022f64046" target="_blank"
    >
      Sponsor
    </a>
  </p>
</footer>
